<script id="tmpl-nf-field-videomail" type="text/template">
    <div id="nf-field-{{{ data.id }}}" name="nf-field-{{{ data.id }}}" class="{{{ data.classes }}} nf-element videomail">

        <form id="videomail">
            <div class="buttons">
                <button class="record" type="button" title="Record video">Record</button>
                <button class="pause hide" disabled="" type="button" title="Pause recording">Pause</button>
                <button class="resume hide" disabled="" type="button" title="Resume recording">Resume</button>
                <button class="preview hide" disabled="" type="button" title="Stop recording and check video">Stop</button>
                <button class="recordAgain hide" disabled="" type="button" title="Record video again">Record again</button>
            </div>
        </form>

        <div id="viewVideo" class="hide">
            <video class="replay"></video>
            <button id="startOver">Start over</button>
        </div>

    </div>
</script>
