<script id="tmpl-nf-field-videomail" type="text/template">
  <div id='nf-field-{{{ data.id }}}' name='nf-field-{{{ data.id }}}' class='{{{ data.classes }}} nf-element videomail'>
    <form id='videomail'>
      <div class='buttons' style='display:none'>
        <input class='record' disabled='' type='button' title='Record video' value='Record' />
        <input class='pause' disabled='' type='button' title='Pause recording' value='Pause' />
        <input class='resume' disabled='' type='button' title='Resume recording' value='Resume' />
        <input class='preview' disabled='' type='button' title='Stop recording and check video' value='Stop' />
        <input class='recordAgain' disabled='' type='button' title='Record video again' value='Record again' />
      </div>
    </form>
    <div id='viewVideo' style='display:none'>
      <video class='replay' />
      <button id='startOver'>Start over</button>
    </div>
  </div>
</script>
