.nf-error .ninja-forms-field
    &.videomail
        border none

        .buttons
            button.submit
                background #e80000
                opacity    .7

.videomail
    .visuals
        border-radius 2px

        .notifier
            padding    1em
            background rgba(30, 30, 30, .1)

            h2
                font-size 125%

            p
                margin-bottom 0

        .recordNote
        .recordTimer
            border-radius 2px

    .buttons
        white-space nowrap

        button
            margin-top 5px
            min-width  7em

            &:focus
                outline 0
