border-radius = 2px

.nf-error .ninja-forms-field
    &.videomail
        border none

.videomail
    .visuals
        border-radius border-radius

        .notifier
            padding    1em
            background rgba(30, 30, 30, .1)

            h2
                font-size 125%

            p
                margin-bottom 0

        .notifier
        .recordNote
        .recordTimer
            border-radius border-radius

    .buttons
        white-space nowrap

        button
            margin-top 5px
            min-width  7em

            &:focus
                outline 0
